@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
:root {
  --customColor1: #f19645;
  --customColor2: #443935;
  --textColor: grey;
  --customBg1: #fcf9f4;
  --customBg2: #26222a;
}
