.homeService-container {
  /* border: solid red; */
  width: 100%;
  padding: 20px;
  background-color: var(--customBg1);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 30px;
}
.homeServiceHead-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeServiceHead-container > h6 {
  font-weight: bolder;
  font-size: 20px;
  color: var(--customColor1);
  /* box-shadow: 0 0px 5px rgb(167, 167, 167); */
  border-radius: 20px;
}
.homeServiceHead-container > h2 {
  font-size: 40px;
  font-weight: bolder;
  color: var(--customColor2);
  width: 80%;
  text-align: center;
}
.homeServiceMain-container {
  /* border: solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}
.homeServiceMain-wrapper {
  /* border: solid blue; */
  width: 400px;
  height: 700px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.homeServiceMain-content {
  overflow: hidden;
  width: 100%;
  transition: 300ms ease;
}

.homeServiceMain-container > a {
  text-decoration: none;
}
.homeServiceMain-content:nth-child(1) {
  border: 1px solid grey;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.homeServiceMain-content:nth-child(2) {
  /* border: solid green; */
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  height: 50%;
}
.homeServiceMain-content:nth-child(2) > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  transition: 300ms ease;
}
.homeServiceMain-content:nth-child(1) > img {
  width: 100px;
  height: 100px;

  transition: 300ms ease;
}
.homeServiceMain-content > h3 {
  color: var(--customColor2);
  font-weight: bold;
}
.homeServiceMain-content:hover h3 {
  color: var(--customColor1);
}

.homeServiceMain-content:nth-child(1):hover img {
  transform: translateY(-10px);
}
.homeServiceMain-content > p {
  color: var(--textColor);
  text-align: justify;
}
.homeService-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .homeService-container {
    /* border: solid red; */
    width: 100%;
    padding: 20px 10px;
  }
  .homeServiceHead-container > h2 {
    font-size: 30px;
    width: 100%;
  }
  .homeServiceMain-container {
    /* border: solid green; */
    padding: 20px;
  }
  .homeServiceMain-wrapper {
    /* border: solid blue; */
    max-width: fit-content;
    height: 700px;
  }
}
